@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    background-color: black;
    color: azure;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: flex-end;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: azure; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(90, 0, 255);
  }
a {
    padding: 20px;
    padding-left: 0px;
    color: azure;
    text-decoration: none;
}
a:hover {
    color: rgb(90, 0, 255);
    transition: all 0.2s ease-in-out;
    font-style: italic;
}
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.name-cont {
    width: 100%;
    text-align: center;
}
.head {
    font-size: 80px;
    font-family: 'Bruno Ace', cursive;
}
.head:hover {
    color: rgb(90, 0, 255);
    transition: all 2s ease-in-out;
}
.profile {
    width: 699px;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: azure;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.bio {
    height: 500px;
    display: flex;
    flex-direction: column;
}
.bio-para {
    text-align: center;
    font-size: 30px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Bruno Ace', cursive;
}
.bio-sect {
    height: 100vh;
}
.center:hover {
    color: rgb(90, 0, 255);
    transition: all 2s ease-in-out;
}
.skill-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 100px;
}

@media screen and (max-width: 700px) {
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill-parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 100px;
    }

    .skill-child {
        transition: all 0.5s ease-in-out;
    }
}

.skill-child {
    padding: 20px;
    transition: all 0.5s ease-in-out;
}
.skill-child:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}
.skill-pic {
    width: 100%;
}
.certificate-parent {
    display: flex;
    flex-direction: column;
}
.certificate-child {
    display: flex;
    align-items: center;
    height: 300px;
    margin: 20px;
    margin-top: 30px;
}
.certificate-name {
    font-size: 30px;
    text-align: center;
    flex: 1;
}
.certificate-img {
    height: 100%;
    aspect-ratio: preserve;
}
.certificate-pic {
    width: 100%;
    height: 100%;
}