body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    background-color: black;
    color: azure;
}
header {
    display: flex;
    justify-content: flex-end;
}
a {
    padding: 20px;
    padding-left: 0px;
    color: azure;
    text-decoration: none;
}
.intro {
    display: flex;
    align-items: center;
}
.name-cont {
    width: 100%;
    text-align: center;
}
.head {
    font-size: 80px;
    font-family: 'Russo One', sans-serif;
}
.profile {
    height: 600px;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: azure;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
.bio-head {
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-family: 'Russo One', sans-serif;
}
.para {
    text-align: center;
    padding: 20px;
    width: 100%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Russo One', sans-serif;
}
.skill-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 100px;
}
.skill-child {
    /* border: azure solid;
    border-radius: 20px;
    border-width: 5px; */
    padding: 20px;
    transition: all 0.5s ease-in-out;
}
.skill-child:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    background-color: aliceblue;
}
.skill-pic {
    width: 100%;
}
.certificate-parent {
    display: flex;
    flex-direction: column;
}
.certificate-child {
    display: flex;
    align-items: center;
    height: 300px;
    margin: 20px;
    margin-top: 30px;
}
.certificate-name {
    font-size: 30px;
    text-align: center;
    width: 65%;
}
.certificate-img {
    height: 100%;
}
.certificate-pic {
    width: 100%;
    height: 100%;
}